.TableauLignesAutomatique tr:nth-child(2n+1){
    line-height: 1px;
    font-family: Arial;
    font-weight: normal;
    font-size: 11px;
    color: #44668C;
    background-color: #FFFFFF;
    text-decoration: none;
}
.TableauLignesAutomatique tr:nth-child(2n+2){
    line-height: 1px;
    font-family: Arial;
    font-weight: normal;
    font-size: 11px;
    color: #44668C;
    background-color: #CACDD0;
}
.TableauLignesAutomatique thead tr td{
    line-height: 1px;    
    font-family:Arial;
    font-weight:bold;
    font-size: 11px;
    color:#FFFFFF;
    background-color:#517AAC;
    text-align:left;
}
.TableauLignesAutomatique thead tr th{
    line-height: 12px;    
    font-family:Arial;
    font-weight:bold;
    font-size: 11px;
    color:#FFFFFF;
    background-color:#517AAC;
    text-align:left;
}

